.spinner-bg, .spinner-bg-not-bg {
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .spinner_img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      margin: 0 !important;
    }
  }
  .spinner-bgFull, .spinner-bgFull-not-bg {
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.white {
      background-color: rgba(255, 255, 255, 1);
    }
    .spinner_img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      margin: 0 !important;
    }
  }
  .spinner-bg-not-bg, .spinner-bgFull-not-bg{
    background-color:transparent;
  }
  