.home_container{
    display: flex;
    flex-wrap: wrap;    
    max-width: 1440px;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: center;
    transition: 0.5s all;
}
// .home_wrapper{
//     max-height: calc(100vh - 180px);
//     overflow: auto;
// }
.row_box{
    display: flex;
    justify-content: center;
}
