.box_img{
    position: relative;
    height: 300px;
    img{
        transition: 1s all;
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 15px;
    }
}
.img_load{
    position: absolute;
    top: 0;
    left: 0;
}
.curr_container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: 0.5s all;
    justify-content: center;
}
.block_info{
margin: 0 20px;
min-width: 300px;
text-align: left;
}
.cur_info{
    display: flex;
    margin: 10px 0;
}
.cur_info_first{
    min-width: 100px;
    font-weight: bold;
    font-size: 19px;
}
.cur_info_second{
    font-size: 21px;
    color: #8c8c8c;
}