@import "../../helpers/variable.scss";


.header_container{
    z-index: 10;
    background: #f9f9f9;
    height: $headerHeight;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 3px 12px rgba(0,0,0,0.07);
}
.header_wrapper{
    margin:20px 0;
    height: calc(100% - 20px);
}
.header_img{
    transition: 0.5s all;
    &:hover{
        opacity: 0.5;
    }
    img{
        height: calc(100% - 20px);
    }
}
.version{
    position: absolute;
    left: 10px;
    font-size: 15px;
    font-weight: bold;
}
  @media screen and (max-width: 500px) {
    [class*="bm-menu-wrap"]{
        width: 60% !important;
  }
}