.charactersBox_wrapper{
    max-width: 360px;
    width: 340px;
    height: 370px;
    text-decoration: none;
    transition: .5s;
    // margin-right: 15px;
    margin: 0 7.5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #eaedf3;
    background-color: #fff;
    padding-bottom: 10px;
    cursor: pointer;
    h1{
        
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }
    a{
        text-decoration:none;
        color:black;
       
    }
    &:hover img{
        filter: saturate(3.5) sepia(60%) grayscale(50%);

        // opacity: 0.9;
        // filter: grayscale(0) !important;
        // opacity: 1 !important;
    }
    &:hover .silver_block{
        height: 63px;
        span{
            opacity: 1;
        }
    }
    &:hover{
        box-shadow: 0 10px 10px -10px rgba(0,0,0,.6);
    }
}
.box_img{
    position: relative;
    height: 300px;
    img{
        transition: 1s all;
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
}
.img_load{
    position: absolute;
    top: 0;
    left: 20px;
}
.silver_img{
    img {
        // filter: grayscale(70%);
        // opacity: 0.95;
    }

}
.silver_block{
    transition: 1s all;
    height: 0;
    background: silver;
    position: absolute;
    width: 300px;
    left: 20px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.55);
    span{
        transition: 0.7s all;
        opacity: 0;
        font-size: 20px;
    color: white;
    }
}