@import "../../helpers/variable.scss";

.footer_container {
    background: #534c5c;
    color: rgb(255, 255, 255);
    height: $footerHeight;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 3;
}
.version {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
  }
@media screen and (max-width: 330px) {
    .footer_container {
        font-size: 14px;
    }
}
